.courseContainer {
    margin-block: 3rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
}

.courseImage {
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.courseImage img {
    max-width: 100%;
}

.courseInfo h1 {
    font-size: 2.2rem;
    padding-bottom: 1rem;
    color: var(--primary-color);
}

.courseInfo p {
    line-height: 1.4;
    letter-spacing: 1.6px;
    text-align: justify;
    color: var(--secondary-text-color);
    padding-bottom: 1rem;
}

.courseInfo ul {
    padding: 0 1rem;
}

.courseInfo li {
    line-height: 1.8;
    letter-spacing: 1.6px;
    color: var(--secondary-text-color);
}

.courseInfo .courseBtn {
    margin-block: 2rem;
    width: 100%;
}

.courseInfo h2 {
    color: #191919;
    padding-block: 1rem;
}

.courseInfo .courseBtn a {
    letter-spacing: 1.2px;
    background-color: var(--primary-color);
    color: #fff;
    padding: 1rem;
    width: 100%;
    display: block;
    text-align: center;
}


@media (max-width: 992px) {
    .courseContainer {
        margin-block: 2.5rem;
        grid-template-columns: 1fr;
        gap: 2rem;
    }

    .courseInfo p {
        letter-spacing: 1.4px;
    }

    .courseInfo ul li {
        letter-spacing: 1.4px;
    }
}