.footer {
    background-color: var(--primary-color);
    color: #FFFFFF;
    padding: 2rem 1rem;
    margin-top: 8rem;
}

.CoursesLink,
.navigational,
.contactInformation {
    padding: 1.5rem 0;
}

.footer h3 {
    padding: 0.8rem 0;
    font-size: 1.8rem;
    font-weight: 700;
}

.footer ul {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.footer ul li {
    letter-spacing: 1.6px;
    list-style: none;
    /* padding-left: 1.5rem; */
}

.contactInformation p {
    letter-spacing: 1.4px;
    line-height: 1.4;
    padding: 0.5rem 0;
}

.contactInformation .align {
    display: flex;
    align-items: center;
    gap: 6px;
    line-height: 1;
}

.map {
    margin: 1.8rem 0;
    height: 16rem;
}

.map iframe {
    border: none;
    height: 100%;
}

.lastFooter {
    border-top: 1px solid #FFFFFF;
}

.lastFooter p {
    text-align: center;
    letter-spacing: 1.2px;
    line-height: 1.4;
    padding-top: 2rem;
}

.lastFooter p a {
    text-decoration: underline;
}

@media (min-width: 600px) and (max-width: 1250px) {
    .mainFooterContainer {
        display: grid;
        grid-template-columns: 1fr 1fr;
        width: 90%;
        margin: 0 auto;
        gap: 2rem;
    }
}

@media (min-width: 1251px) {
    .footer {
        margin-top: 8rem;
    }

    .mainFooterContainer {
        max-width: 1480px;
        display: grid;
        grid-template-columns: 1fr 1fr 3fr;
        width: 90%;
        margin: 0 auto;
        gap: 2rem;
    }

    .contactInformation {
        display: flex;
        gap: 1rem;
    }
}