.testimonialsContent {
    width: 50%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 2rem;
    height: 100%;
}

.testimonialsContent .usrImage {
    width: 128px;
    height: 128px;
}

.usrImage img {
    max-width: 100%;
    border-radius: 50%;
}

.infoContent p {
    letter-spacing: 1.6px;
    line-height: 1.6;
    text-align: center;
}

.infoContent h5 {
    font-size: 1.4rem;
    letter-spacing: 1.6px;
    line-height: 1.6;
    text-align: center;
    padding: 1rem 0;
}

@media (max-width: 768px) {
    .testimonialsContent {
        width: 80%;
    }
}